body {
	background: #030303;
	color: #D7DADC;
}

.container-block {
	background: #1A1A1B;
}

.container-block textarea, .container-block input {
	color: #ffffff;
}

.pastes-counter {
	background: #272729;
}

.form-control-dark, .form-control-dark:focus, .form-control-dark[readonly] {
	background: #272729;
	color: #FFFFFF;
}

.btn-default {
	background: #272727;
}

.unlock-fields input[type="submit"]:hover, #go-back:hover, .create-paste-button:hover {
	background: #222223;
	color: #D7D7D7;
}