body {
	background: #10171E;
	color: #FFFFFF;
}

.container-block {
	background: #15202B;
}

.container-block textarea, .container-block input {
	color: #ffffff;
}

.container-block .container-align-left {
	background: #15202B;
}

.pastes-counter {
	background: #10171E;
}

.form-control, .form-control:focus, .form-control[readonly] {
	background: #10171E;
	color: #8899A6 !important;
}

.btn-default {
	background: #272727;
}